@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    height: 3rem;

}
.navbar{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.navlist{
    display: flex;
    gap: 2.5rem;
}
.navlist li{
    list-style: none;
    position: relative;
}

.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: .08rem;
}
.hero .left{
    background-color: #7c573c;
    padding-left: 3rem;
}
.hero .right{
    background-color:#2c1e1e ;
    justify-content: center;
    
}
.right img{
    margin-top: 150px;
    height: 40rem;

}
.hero .hero-split{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero{
    display: flex;
}
.navlist .slider{
    background-color: rgba(255, 255, 255, 0.352);
    height: 5rem;
    width: 6rem;
    position: absolute;
    top: 0;
    right: 445px;
    border-top: .3rem solid #b78866;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter:blur(.5rem) ;
    z-index: -1;
    transition: .5s ease-in-out;
}
.navlist li:nth-child(2):hover~.slider{
    right: 340px;
}
.navlist li:nth-child(3):hover~.slider{
    right: 224px;
}
.navlist li:nth-child(4):hover~.slider{
    right: 104px;
}
.navlist li:nth-child(5):hover~.slider{
    right: -10px;
}
.left .content{
    color: white;
}
.content h1{
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .05rem white;
    letter-spacing: .02rem;
    font-family: "Lemon", serif;
}
.content p{
    color:rgba(255, 255, 255, 0.521) ;
    font-size: 1.3rem;
    width: 75%;
    margin: 1.3rem 0;
    line-height:1.7rem ;
}
.content button{
    background: radial-gradient(at top left, #b78866, rgb(55, 34, 34));
    padding: 1rem 3rem;
    border: .2rem solid rgba(128, 128, 128, 0.581);
    font-size: 1.1rem;
    color: white;
    border-radius: 4rem;
    letter-spacing:.2rem ;
}
.content button:hover{
    background: radial-gradient(at bottom right, #b78866, rgb(55, 34, 34));
}
.middle{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.middle .circle{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.middle .circle::before{
    content: "";
    background-color:transparent;
    width:100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8rem;
    border: .2rem dashed white;
    padding: .4rem;
}
.middle .circle:nth-child(2){
margin: 2.5rem 0;
background-image: url(./image/coffe\ seed.jpg);
background-size: 400%;
}
.middle .circle:nth-child(1){
    background-image: url(./image/coffee-powder.avif);
    background-size: 350%;
}
.middle .circle:nth-child(3){
        background-image: url(./image/coffee\ leaf.webp);
        background-size: 150%;
}
.menu{
    display: none;
}
.navlist li:hover .menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    /* background-color: #b78866; */
    border: 2px solid #b78866;
    
}
.menu li{
    display: block;
    margin: 10px;
    padding: .7rem;
position: relative;
z-index: 1;
}

.menu li:hover{
   background-color: #b78866;
    
}
.menu li .fas{
    float: right;
}
.menu2{
    display: none;
}
.menu li:hover .menu2{
    display: block;
    position: absolute;
    left: 140px;
    top: 0%;
    width: 180px;
    /* background-color: #b78866; */
    border: 2px solid #b78866;
    z-index: 2;
}
.menu2 li{
    display: block;
    margin-left: 20px;
    padding: .7rem;
}



/* @media screen and (max-width:576) {
   
    /* .hero{
        flex-direction: row;
    }
    .hero-split{
        flex-direction: row;
    }
     .left{
        height: 350px;
        width: 100%;
     }
} */ 

